**/.DS_Store
**/.vscode

outputs/
cases/case4.txt
cases/case6.txt
cases/output_after.txt
cases/output_before.txt

*.a
src/router/tmp.cpp

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
main.cpp
output.txt

.vscode/
TERM_PROGRAM=Apple_Terminal

*.o

*.log
*.out
*.output
tem
tem1
tem2
core
tem*

__pycache__/